@charset "UTF-8";
/*-------------------------------------------
変数管理
-------------------------------------------*/
/*------------------------------------------
共通
-------------------------------------------*/
html {
  font-size: 100%;
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #3c3c3c;
}

img {
  width: 100%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

a {
  display: inline-block;
}

.wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 4%;
}

main {
  margin-top: 3.75rem;
  margin-bottom: 4rem;
}
@media (min-width: 600px) {
  main {
    margin-top: 5rem;
  }
}

h2 {
  color: #da6d24;
  font-size: 1.5rem;
}

h3 {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 0.3rem;
  font-size: 1.2rem;
}

p {
  line-height: 1.5;
}

.section-title {
  padding: 3rem 0;
}
@media (min-width: 600px) {
  .section-title {
    padding: 5rem 0;
  }
}
.section-title h1 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
}
.section-title h1::after {
  content: "";
  display: block;
  height: 5px;
  width: 4rem;
  background: #8b4513;
  margin-top: 0.5rem;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 5rem;
}
.pagination a {
  padding: 0.75rem 1rem 0.85rem;
  background: #da6d24;
  border-radius: 6px;
  color: #fff;
}
.pagination a:hover {
  background: #ccc;
  color: #3c3c3c;
}

.content-tags {
  margin-top: 5rem;
  font-size: 0.875rem;
}
.content-tags li {
  display: inline-block;
  margin-right: 0.3em;
}
.content-tags a {
  display: block;
  padding: 0.3em 0.7em;
  text-decoration: none;
  color: #8b4513;
  border: 1px solid #8b4513;
  border-radius: 1em;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
.header {
  background-color: #f5deb3;
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header-inner {
  padding: 0 4%; /*左右の余白確保*/
  display: flex; /*ロゴとハンバーガーメニューを横に並べる*/
  align-items: center;
  justify-content: space-between;
  height: inherit; /*親要素の高さを継承*/
  position: relative;
}

/* ヘッダーのロゴ部分 */
.header-title {
  width: 100px;
}
.header-title img {
  display: block;
  width: 100%;
  height: 100%;
}
@media (min-width: 600px) {
  .header-title {
    width: 120px;
  }
}

/* ヘッダーのナビ部分 */
.header-nav {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  background-color: #f5deb3; /*ハンバーガーメニュークリック時のナビゲーションメニュー背景色*/
  transition: ease 0.4s; /*ハンバーガーメニュークリック時のナビゲーションメニュー出現を遅延*/
}
@media (min-width: 600px) {
  .header-nav {
    position: static;
    transform: initial;
    background-color: inherit;
    height: inherit;
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }
}

/* ハンバーガーメニュー */
.header-hamburger {
  width: 48px;
  height: 100%;
  z-index: 9999;
}
@media (min-width: 600px) {
  .header-hamburger {
    display: none;
  }
}

/* ハンバーガーメニューの線 */
.hamburger span {
  width: 100%;
  height: 1px;
  background-color: #3c3c3c;
  position: relative;
  transition: ease 0.4s; /*ハンバーガーメニュークリック時の三本線の動きを遅延*/
  display: block;
}
.hamburger span:nth-child(1) {
  top: 0;
}
.hamburger span:nth-child(2) {
  margin: 8px 0;
}
.hamburger span:nth-child(3) {
  top: 0;
}

/* ハンバーガーメニュークリック後のスタイル */
.header-nav.active {
  transform: translateX(0);
}

.hamburger.active span:nth-child(1) {
  top: 8px;
  transform: rotate(45deg);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  top: -10px;
  transform: rotate(-45deg);
}

.nav-items {
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 600px) {
  .nav-items {
    position: inherit;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}

@media (min-width: 600px) {
  .nav_items {
    width: 100%;
    display: flex;
    align-items: center;
    height: initial;
    justify-content: flex-end;
    gap: 5rem;
  }
}

/* ナビのリンク */
.header-nav li a {
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 6rem;
  font-size: 1.2rem;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
@media (min-width: 600px) {
  .header-nav li a {
    margin-bottom: 0;
  }
}
.header-nav li a:last-child a {
  margin-bottom: 0;
}

/*-------------------------------------------
トップページ
-------------------------------------------*/
.home main {
  margin-bottom: 0;
}
.home article {
  margin: 5rem 0;
}
.home h2::after {
  content: "";
  display: block;
  height: 5px;
  width: 4rem;
  background: #8b4513;
  margin-top: 0.5rem;
}

.home .event-info {
  text-align: center;
}
.home .event-info h2 {
  margin-bottom: 3rem;
}
.home .event-info h2::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.home .event-info p {
  margin: 1rem 0;
}
.home .event-info .archive-item-link {
  flex-flow: column-reverse;
}
.home .event-info .archive-item-img {
  margin: 2rem auto 0;
}

.home .kodawari-area section {
  margin: 1rem 0;
}
@media (min-width: 600px) {
  .home .kodawari-area section {
    margin: 3rem 0;
  }
}
.home .kodawari-area h2 {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 1rem;
}
@media (min-width: 600px) {
  .home .kodawari-area {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 600px) {
  .home .menu-area {
    display: flex;
    align-items: center;
    gap: 3rem;
  }
}
.home .menu-area section {
  margin: 3rem 0;
}
.home .menu-area h2 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin: 1rem 0;
}

@media (min-width: 600px) {
  .home .link {
    text-align: center;
  }
}
.home .link p {
  margin: 2rem 0;
}
.home .link .btn {
  color: #fff;
  background: #da6d24;
  font-size: 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  display: block;
  text-align: center;
}
.home .link .btn:hover {
  color: #3c3c3c;
  background: #ccc;
}
@media (min-width: 600px) {
  .home .link .btn {
    display: inline-block;
    width: 50%;
  }
}

/*-------------------------------------------
メニューページ
-------------------------------------------*/
.menu p {
  margin-top: 0.1em;
  margin-left: 0.3em;
}

/*-------------------------------------------
イベントページ
-------------------------------------------*/
.single .event-info {
  text-align: center;
}
.single .event-info h3 {
  margin-top: 3rem;
}
.single .event-info p {
  margin: 2rem 0;
}
@media (min-width: 600px) {
  .single .thumbnail {
    width: 50%;
    margin-inline: auto;
  }
}
.single .content-meta {
  font-size: 0.8rem;
  margin-top: 1rem;
}
.single .content-meta-date {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-weight: 400;
}
.single .content-meta-date::before {
  content: "/";
  padding-right: 0.3em;
}
.single .content-meta a:not(:first-child) {
  padding: 0 0.3em;
}

/*-------------------------------------------
アクセスページ
-------------------------------------------*/
.access .map,
.access .store-info {
  width: 100%;
  max-width: 900px;
  padding: 1rem;
}

.access .map {
  margin: 5rem auto 0;
}
@media (min-width: 600px) {
  .access .map {
    margin: 10rem auto 0;
  }
}
.access .map .gmap-iframe {
  filter: grayscale(1);
  width: 100%;
  max-width: 900px;
  height: 200px;
}
@media (min-width: 600px) {
  .access .map .gmap-iframe {
    height: 400px;
  }
}

.access .store-info {
  margin-inline: auto;
}
.access .store-info dl {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.access .store-info dt {
  width: 25%;
  margin-top: 10px;
  /* 1つめのdtにはmargin-topを設定しない */
}
@media (min-width: 600px) {
  .access .store-info dt {
    width: 15%;
  }
}
.access .store-info dt:first-of-type {
  margin-top: 0;
}
.access .store-info dd {
  width: 75%;
  margin-top: 10px;
  /*1つめのddにはmargin-topを設定しない*/
}
@media (min-width: 600px) {
  .access .store-info dd {
    width: 85%;
  }
}
.access .store-info dd:first-of-type {
  margin-top: 0;
}

/*-------------------------------------------
アーカイブページ
-------------------------------------------*/
.archive-content-wrap {
  border-bottom: 1px dotted #8b4513;
}
.archive-content-wrap:first-of-type {
  border-top: 1px dotted #8b4513;
}

.archive-item-link {
  display: flex;
  text-decoration: none;
  color: #3c3c3c;
  padding-top: 30px;
  padding-bottom: 30px;
}
.archive-item-img {
  width: 30%;
  margin-right: 15px;
}

.archive-content-body {
  flex: 1;
  font-size: 0.9375rem;
}
.archive-content-title {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 0.5em;
}
.archive-content-meta {
  margin-top: 15px;
}
.archive-content-meta li {
  display: inline-block;
}
.archive-content-category:after {
  content: "/";
}

/*-------------------------------------------
フッター
-------------------------------------------*/
.footer {
  background-color: #f5deb3;
}
.footer .wrap {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.footer-nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.footer p {
  text-align: center;
}

/*-------------------------------------------
404ページ
-------------------------------------------*/
.error404 .error-msg a {
  color: #da6d24;
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */